<div class="top-nav">
    <nav class="navbar navbar-expand-lg navbar-dark primary-color">
  
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        
        <div class="collapse navbar-collapse" id="basicExampleNav">
      
         
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">CONTACT US  <i class="b-chevron--down fa fa-angle-down" aria-hidden="true"></i>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABOUT AQHA <i class="b-chevron--down fa fa-angle-down" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">FOUNDATION <i class="b-chevron--down fa fa-angle-down" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">MUSEUM <i class="b-chevron--down fa fa-angle-down" aria-hidden="true"></i></a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="#">SHOP</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="#">QSTALLIONS</a>
            </li> 
          </ul>

          <form class="form-inline">
            <div class="md-form my-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#" style="background-color: red;"><i class="fa fa-user-plus fa-lg" aria-hidden="true"></i>&nbsp;BECOME A MEMBER
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fa fa-user" aria-hidden="true"></i>  MEMBERS
                          <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fa fa-user" aria-hidden="true"></i>  SIGN IN
                          <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>    
            </div>
          </form>
        </div>
    </nav>
</div>

<div class="mid-nav">
    <div class="row">
        <div class="col-md-2 col-lg-3 b-header-logo">
            <a href="https://www.aqha.com">
                <img src="https://www.aqha.com/o/aqha-theme/images/AQHA-Logo-TopNav.svg" alt="">
            </a>
        </div>
        
        <div class="col-md-10 col-lg-9 b-primary-nav">
            <nav class="navbar navbar-expand-lg navbar-dark primary-color">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#" style="font-size: 16px;">Home
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" style="font-size: 16px;">AQHA SERVICES <i class="b-chevron--down fa fa-angle-down fa-lg" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" style="font-size: 16px;">DISCIPLINES <i class="b-chevron--down fa fa-angle-down fa-lg" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="font-size: 16px;">YOUTH <i class="b-chevron--down fa fa-angle-down fa-lg" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="font-size: 16px;">INTERNATIONAL <i class="b-chevron--down fa fa-angle-down fa-lg" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="font-size: 16px;">NEWS AND PUBLICATIONS <i class="b-chevron--down fa fa-angle-down fa-lg" aria-hidden="true"></i></a>
                    </li>
                </ul>   
            </nav> 
        </div>  
    </div>
</div>


<div class="last-nav">

    <nav class="navbar navbar-expand-lg navbar-light bg-light primary-color">
        
        <form class="form-inline">
            <div class="md-form my-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="" class="nav-link" style="color: black;font-size: 14px;"><i class="fa fa-link" aria-hidden="true"></i>  QUICK LINKS <i class="b-chevron--down fa fa-angle-down" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" style="color: black;font-size: 14px;">HELP CENTER</a>
                    </li>
                </ul>
            </div>
        </form>
       
        
        <form class="form-inline-1">
            <div class="md-form my-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#" style="color: black;font-size: 14px;"><i class="fa fa-bookmark" aria-hidden="true"></i> BROWSE BY TOPIC <i class="b-chevron--down fa fa-angle-down" aria-hidden="true"></i>
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#" style="color: black;font-size: 14px;"><i class="fa fa-calendar" aria-hidden="true"></i>  EVENTS
                          <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#" style="color: black;font-size: 14px;"><i class="fas fa-search"></i> SEARCH
                          <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>    
            </div>
        </form>
    </nav>
</div>

